<div class="container container-center">
	<div class="homepageOuterDiv">
			<%= image_tag("StrangerArranger2.png", alt: "logo", id: "logoHomePage", class: "bb") %>
			<span class="myButton" id="login-button">Login With Facebook</span>
	</div>
</div>