<div class="container container-center">
	<%= image_tag("StrangerArranger.png", alt: "logo") %>
	<div class="vert-helper"></div>
	<a href='#' class="btn btn-primary" id="login-button"> LOGIN </a>
</div>