<div class="container container-center">
	<div class="vert-helper"></div>
	<div><img src="/jaas/app/assets/images/StrangerArranger.png" id="logoHomePage"></img></div>
	<a href='#' class="btn btn-primary" id="login-button"> LOGIN </a>
</div>