<div class="container container-center">
	<div class="homepageOuterDiv">
			<div className="homePageColumn">
			<div className="homePageRow"><%= image_tag("StrangerArranger.png", alt: "logo", id: "logoHomePage") %> </div>
			<div className="homePageRow"><div class="myButton">Login With Facebook</div></div>
			</div>
	</div>
</div>