<div class="container">
	<h3> Sign Up </h3>
	<form method="POST" class="form-layout">
		<div class="form-group">
			<label for="form-name" class="form-item"> Name </label>
			<input type="text" name="name" id="form-name" class="form-control">		
		</div>
		<div class="form-group">
			<label class="form-item" for="form-email">Email </label>
		<input type="email" name="form-email" id="form-email" class="form-control">		
		</div>	
		<div class="form-group">
			<label class="form-item" for="form-school"> School </label>		
			<input type="text" name="school" id="form-school" class="form-control">		
		</div>
		<div class="form-group">
			<label class="form-item" for="form-phone"> Phone </label>
			<input type="text" name="phone" id="form-phone" class="form-control">
		</div>
		<div class="form-group">
			<label class="form-item" for="form-password">Password </label>
		<input type="password" name="form-password" id="form-password" class="form-control">		
		</div>
		<div class="form-group">
			<label for="form-interests" class="form-item"> Interests: </label>
			<select name="interests" id="form-interests">
				<option> music </option>
				<option> food </option>
				<option> exercise </option>
				<option> traveling </option>
			</select>		
		</div>
		<div class="text-center">
			<button type="submit" class="btn btn-default btn-success" style="width: auto"> Register </button>
		</div>
	</form>
</div>