<div class="container">
	<h2> MAKE A MATCH! </h2>
	<form class="form">
		<div class="row text-center">
			<div class="col-sm-3">
			Monday
			</div>
			<div class="col-sm-3">
			Tuesday
			</div>
			<div class="col-sm-3">
			Wednesday
			</div>
			<div class="col-sm-3">
			Thursday
			</div>									
		</div>

		<div class="row text-center">
			<div class="col-sm-3 time-availability">
				<label> Availability:
				<input type="text" id="availability-mon" readonly style="border:0; color:#f6931f; font-weight:bold;">
				</label>
				<div id="slider-range-mon"></div>							
			</div>
			<div class="col-sm-3 time-availability">			
				<label> Availability:
				<input type="text" id="availability-tues" readonly style="border:0; color:#f6931f; font-weight:bold;">
				</label>
				<div id="slider-range-tues"></div>						 
			</div>
			<div class="col-sm-3 time-availability">			
				<label> Availability:
				<input type="text" id="availability-wed" readonly style="border:0; color:#f6931f; font-weight:bold;">
				</label>
				<div id="slider-range-wed"></div>						
			</div>
			<div class="col-sm-3 time-availability">						
				<label> Availability:
				<input type="text" id="availability-thur" readonly style="border:0; color:#f6931f; font-weight:bold;">
				</label>
				<div id="slider-range-thur"></div>														
			</div>
		</div>
		<div class="row text-center">
			<div class="col-sm-4">
			Friday
			</div>
			<div class="col-sm-4">
			Saturday
			</div>
			<div class="col-sm-4">
			Sunday
			</div>									
		</div>

		<div class="row text-center">
			<div class="col-sm-4">
				<label> Availability:
				<input type="text" id="availability-fri" readonly style="border:0; color:#f6931f; font-weight:bold;">
				</label>
				<div id="slider-range-fri"></div>	
			</div>
			<div class="col-sm-4">
				<label> Availability:
				<input type="text" id="availability-sat" readonly style="border:0; color:#f6931f; font-weight:bold;">
				</label>
				<div id="slider-range-sat"></div>
			</div>

			<div class="col-sm-4">
				<label> Availability:
				<input type="text" id="availability-sun" readonly style="border:0; color:#f6931f; font-weight:bold;">
				</label>
				<div id="slider-range-sun"></div>						
			</div>				
		</div>		
	<div class="text-center">
		<button type="submit" class="btn hvr-outline-out match-button"> Match </button>
	</div>
	</form>
	<%= @fake_match.inspect %>
</div>