<div class="container">
	<form>
		<table class="table">
			<thead>
				<tr>
					<td> Monday </td>
					<td> Tuesday </td>
					<td> Wednesday </td>
					<td> Thursday </td>
					<td> Friday </td>
					<td> Saturday </td>
					<td> Sunday </td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td> availability</td>
					<td> availability</td>
					<td> availability</td>
					<td> availability</td>
					<td> availability</td>
					<td> availability</td>
					<td> availability</td>				
				</tr>
			</tbody>
	</table>
	<button type="submit" class="btn btn-primary btn-center"> Match </button>
	</form>
</div>