<div class="container">
	<div class="panel panel-default">
		<div class="panel-heading text-center">
			<b> YOUR MATCH! </b>
			<img src="./images/default-profile.jpg" id="match-profile-logo" class="img-circle">								
		</div>
		<div class="panel-body text-center">
			<table class="table text-center">
				<thead>
					<tr>
						<th>Person's Name</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Available Times:</td>
					</tr>
					<tr>
						<td>Common Interests:</td>
					</tr>
					<tr>
						<td>Food:</td>
					</tr>															
				</tbody>
			</table>

		</div>
	</div>
</div>