// Place all the styles related to the staticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
  font-family: "Bioliquid";
  src: url('/assets/fonts/bioliquid-Regular.ttf') format("truetype");
}
@font-face {
  font-family: "CFSpaceship";
  src: url('/assets/fonts/CFSpaceship-Regular.ttf') format("truetype");
}
@font-face {
  font-family: "Earthorbiter";
  src: url('/assets/fonts/earthorbiter.ttf') format("truetype");
}

html {
	min-height: 100vh;
  overflow: auto;
  position: relative;
}

body {
	background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
	background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  margin-bottom: 70px;
  overflow-x: hidden;
  overflow-y: hidden;
  color: white;
}

a {
  color: white;
}

.center {
  text-align: center;
}

#login-button {
	display: block;
	margin-top: -16ex;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  width: 36%;
  font-family: 'Ubuntu Mono', monospace;
}

#register-button, #signin-button {
  position: relative;
  top: -50px;
}

.container-center {
	text-align: center;
	height: 100%;
	width: 100%;
}


.footer {
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
	color: #ffffff;
}

.footer ul {
	list-style: none;
	padding-left: 0;
	font-family: 'Ubuntu Mono', monospace;
}

#logoHomePage {
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
  display: block;
  z-index: 900;
}

.homepageOuterDiv {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  margin-bottom: auto;
  margin-top: auto;
}

.plane {
	z-index: -1;
  width: 400px;
  height: 500px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.plane.main {
  position: absolute;
  top: 0;
  left: 0;
  right: -50%;
  bottom: 0;
  margin: auto;
  -webkit-transform: rotateX(60deg) rotateZ(-30deg);
          transform: rotateX(60deg) rotateZ(-30deg);
  -webkit-animation: rotate 20s infinite linear;
          animation: rotate 20s infinite linear;
}
.plane:hover .circle:hover {
	width: 120px;
  height: 120px;
}
.plane.main .circle {
  width: 10px;
  height: 10px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 10px white, inset 0 0 10px white;
}
.plane.main .circle::before, .plane.main .circle::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 2%;
  height: 2%;
  border-radius: 100%;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 0 60px 2px white;
}
.plane.main .circle::before {
  -webkit-transform: translateZ(-90px);
          transform: translateZ(-90px);
}
.plane.main .circle::after {
  -webkit-transform: translateZ(90px);
          transform: translateZ(90px);
}
.plane.main .circle:nth-child(1) {
  -webkit-transform: rotateZ(72deg) rotateX(63.435deg);
          transform: rotateZ(72deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(2) {
  -webkit-transform: rotateZ(144deg) rotateX(63.435deg);
          transform: rotateZ(144deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(3) {
  -webkit-transform: rotateZ(216deg) rotateX(63.435deg);
          transform: rotateZ(216deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(4) {
  -webkit-transform: rotateZ(288deg) rotateX(63.435deg);
          transform: rotateZ(288deg) rotateX(63.435deg);
}
.plane.main .circle:nth-child(5) {
  -webkit-transform: rotateZ(360deg) rotateX(63.435deg);
          transform: rotateZ(360deg) rotateX(63.435deg);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
            transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
            transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  100% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}


.plane2 {
	z-index: -1;
  width: 400px;
  height: 500px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.plane2.main2 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: rotateX(120deg) rotateZ(150deg);
          transform: rotateX(120deg) rotateZ(150deg);
  -webkit-animation: rotate2 20s infinite linear;
          animation: rotate2 20s infinite linear;
}
.plane2:hover .circle2:hover {
	width: 120px;
  height: 120px;
}
.plane2.main2 .circle2 {
  width: 10px;
  height: 10px;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 10px white, inset 0 0 10px white;
}
.plane2.main2 .circle2::before, .plane2.main .circle2::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 2%;
  height: 2%;
  border-radius: 100%;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 0 60px 2px white;
}
.plane2.main2 .circle:nth-child2::after {
  -webkit-transform: translateZ(-90px);
          transform: translateZ(-90px);
}
.plane2.main2 .circle:nth-child2::before {
  -webkit-transform: translateZ(90px);
          transform: translateZ(90px);
}
.plane2.main2 .circle:nth-child2(5) {
  -webkit-transform: rotateZ(72deg) rotateX(63.435deg);
          transform: rotateZ(72deg) rotateX(63.435deg);
}
.plane2.main2 .circle:nth-child2(4) {
  -webkit-transform: rotateZ(144deg) rotateX(63.435deg);
          transform: rotateZ(144deg) rotateX(63.435deg);
}
.plane2.main2 .circle:nth-child2(3) {
  -webkit-transform: rotateZ(216deg) rotateX(63.435deg);
          transform: rotateZ(216deg) rotateX(63.435deg);
}
.plane2.main2 .circle2:nth-child(2) {
  -webkit-transform: rotateZ(288deg) rotateX(63.435deg);
          transform: rotateZ(288deg) rotateX(63.435deg);
}
.plane2.main2 .circle2:nth-child(1) {
  -webkit-transform: rotateZ(360deg) rotateX(63.435deg);
          transform: rotateZ(360deg) rotateX(63.435deg);
}

@-webkit-keyframes rotate2 {
  0% {
    -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
            transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
  100% {
		-webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
		transform: rotateX(0) rotateY(0) rotateZ(0);
  }
}

@keyframes rotate2 {
  0% {
  	-webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  	transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
  100% {
    -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
            transform: rotateX(0) rotateY(0) rotateZ(0);
  }
}














#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 127px 22px #FFF , 89px 1194px #FFF , 845px 987px #FFF , 726px 1135px #FFF , 533px 837px #FFF , 155px 1174px #FFF , 1692px 636px #FFF , 1888px 991px #FFF , 550px 725px #FFF , 1479px 248px #FFF , 609px 843px #FFF , 4px 867px #FFF , 1603px 1290px #FFF , 1367px 1399px #FFF , 970px 1892px #FFF , 630px 925px #FFF , 458px 1557px #FFF , 675px 1627px #FFF , 1602px 1555px #FFF , 966px 928px #FFF , 179px 537px #FFF , 402px 952px #FFF , 1812px 1537px #FFF , 693px 979px #FFF , 1383px 1081px #FFF , 827px 1247px #FFF , 577px 303px #FFF , 767px 1345px #FFF , 746px 1842px #FFF , 671px 688px #FFF , 465px 786px #FFF , 626px 1204px #FFF , 389px 1564px #FFF , 1414px 1373px #FFF , 1518px 195px #FFF , 1058px 746px #FFF , 554px 1463px #FFF , 986px 1055px #FFF , 1974px 1786px #FFF , 1013px 1442px #FFF , 1646px 1420px #FFF , 1183px 656px #FFF , 1992px 1031px #FFF , 1037px 529px #FFF , 1326px 833px #FFF , 1037px 1485px #FFF , 709px 841px #FFF , 1816px 1956px #FFF , 1336px 353px #FFF , 447px 508px #FFF , 1652px 1133px #FFF , 1512px 704px #FFF , 373px 1969px #FFF , 633px 683px #FFF , 1900px 735px #FFF , 983px 15px #FFF , 262px 472px #FFF , 795px 990px #FFF , 316px 1110px #FFF , 1373px 1597px #FFF , 1796px 4px #FFF , 807px 1908px #FFF , 1059px 1260px #FFF , 1523px 679px #FFF , 1287px 863px #FFF , 593px 280px #FFF , 1122px 1666px #FFF , 1253px 1627px #FFF , 1234px 1662px #FFF , 1140px 344px #FFF , 1027px 961px #FFF , 19px 988px #FFF , 980px 225px #FFF , 853px 1634px #FFF , 1567px 55px #FFF , 1714px 1442px #FFF , 1248px 1061px #FFF , 130px 778px #FFF , 890px 819px #FFF , 1081px 1453px #FFF , 1508px 616px #FFF , 750px 1724px #FFF , 144px 428px #FFF , 1367px 1593px #FFF , 1961px 1548px #FFF , 1090px 1572px #FFF , 224px 271px #FFF , 530px 1002px #FFF , 576px 1773px #FFF , 450px 777px #FFF , 1053px 788px #FFF , 923px 607px #FFF , 744px 1139px #FFF , 1970px 276px #FFF , 876px 517px #FFF , 1223px 1093px #FFF , 688px 1146px #FFF , 1999px 1470px #FFF , 1036px 1654px #FFF , 706px 1712px #FFF , 289px 1616px #FFF , 857px 1007px #FFF , 1505px 1548px #FFF , 973px 943px #FFF , 300px 928px #FFF , 1896px 779px #FFF , 94px 799px #FFF , 1376px 1296px #FFF , 386px 1731px #FFF , 1887px 621px #FFF , 97px 1746px #FFF , 124px 1288px #FFF , 68px 1460px #FFF , 1630px 1208px #FFF , 1257px 761px #FFF , 618px 1485px #FFF , 148px 1002px #FFF , 819px 784px #FFF , 180px 151px #FFF , 248px 450px #FFF , 824px 887px #FFF , 1640px 1410px #FFF , 496px 1653px #FFF , 424px 1536px #FFF , 538px 630px #FFF , 1692px 1752px #FFF , 833px 217px #FFF , 731px 63px #FFF , 1232px 1141px #FFF , 240px 702px #FFF , 1070px 1608px #FFF , 7px 320px #FFF , 1404px 1062px #FFF , 948px 637px #FFF , 1418px 241px #FFF , 585px 398px #FFF , 1818px 1837px #FFF , 1902px 1844px #FFF , 250px 1894px #FFF , 1118px 360px #FFF , 978px 1748px #FFF , 1707px 249px #FFF , 1984px 732px #FFF , 1380px 1546px #FFF , 508px 1256px #FFF , 1244px 61px #FFF , 340px 1565px #FFF , 61px 1293px #FFF , 12px 1418px #FFF , 251px 307px #FFF , 439px 378px #FFF , 1538px 2px #FFF , 776px 813px #FFF , 1481px 1242px #FFF , 1471px 1073px #FFF , 87px 499px #FFF , 1564px 1120px #FFF , 1813px 1482px #FFF , 1535px 1776px #FFF , 66px 605px #FFF , 468px 1106px #FFF , 1968px 616px #FFF , 1301px 243px #FFF , 1542px 569px #FFF , 1906px 736px #FFF , 364px 540px #FFF , 470px 1400px #FFF , 1019px 822px #FFF , 1447px 972px #FFF , 1962px 105px #FFF , 1475px 665px #FFF , 114px 584px #FFF , 1686px 429px #FFF , 1683px 1753px #FFF , 650px 443px #FFF , 1680px 770px #FFF , 798px 1248px #FFF , 1888px 70px #FFF , 267px 193px #FFF , 1651px 1832px #FFF , 1699px 1582px #FFF , 1814px 935px #FFF , 1893px 453px #FFF , 1600px 1322px #FFF , 1926px 458px #FFF , 1170px 1354px #FFF , 987px 1123px #FFF , 1650px 196px #FFF , 790px 1280px #FFF , 919px 977px #FFF , 1130px 1086px #FFF , 1173px 1362px #FFF , 336px 840px #FFF , 814px 1079px #FFF , 154px 1604px #FFF , 580px 686px #FFF , 816px 1122px #FFF , 1822px 1929px #FFF , 917px 735px #FFF , 310px 941px #FFF , 1688px 669px #FFF , 117px 166px #FFF , 1980px 1074px #FFF , 1658px 1058px #FFF , 1300px 1553px #FFF , 294px 138px #FFF , 297px 1480px #FFF , 1192px 1136px #FFF , 258px 338px #FFF , 1875px 305px #FFF , 284px 689px #FFF , 1200px 1436px #FFF , 277px 78px #FFF , 936px 281px #FFF , 303px 455px #FFF , 573px 526px #FFF , 629px 335px #FFF , 355px 933px #FFF , 713px 1396px #FFF , 1025px 1162px #FFF , 425px 386px #FFF , 1886px 341px #FFF , 1701px 1950px #FFF , 246px 26px #FFF , 1422px 52px #FFF , 20px 1186px #FFF , 182px 353px #FFF , 1408px 771px #FFF , 356px 435px #FFF , 779px 171px #FFF , 1901px 434px #FFF , 76px 1357px #FFF , 242px 89px #FFF , 727px 1767px #FFF , 1777px 1597px #FFF , 34px 1336px #FFF , 302px 460px #FFF , 1119px 1193px #FFF , 411px 52px #FFF , 1295px 1582px #FFF , 1873px 367px #FFF , 1787px 1973px #FFF , 320px 954px #FFF , 1097px 966px #FFF , 1755px 1686px #FFF , 1121px 1542px #FFF , 1122px 460px #FFF , 50px 645px #FFF , 1909px 1093px #FFF , 416px 767px #FFF , 1359px 618px #FFF , 1353px 1543px #FFF , 1369px 749px #FFF , 44px 500px #FFF , 1107px 1163px #FFF , 27px 556px #FFF , 440px 596px #FFF , 805px 1015px #FFF , 411px 1369px #FFF , 1605px 1608px #FFF , 1536px 374px #FFF , 147px 985px #FFF , 851px 876px #FFF , 831px 589px #FFF , 279px 1956px #FFF , 881px 1716px #FFF , 1722px 1999px #FFF , 882px 315px #FFF , 1558px 1737px #FFF , 1657px 1961px #FFF , 1559px 492px #FFF , 1735px 805px #FFF , 746px 1547px #FFF , 1288px 1005px #FFF , 79px 771px #FFF , 1258px 1866px #FFF , 1839px 844px #FFF , 1191px 1523px #FFF , 1298px 1125px #FFF , 346px 768px #FFF , 1970px 1045px #FFF , 1954px 636px #FFF , 1266px 66px #FFF , 905px 1824px #FFF , 1684px 533px #FFF , 1336px 1465px #FFF , 1559px 1530px #FFF , 1446px 1874px #FFF , 632px 1019px #FFF , 1457px 1566px #FFF , 315px 565px #FFF , 1360px 533px #FFF , 1238px 949px #FFF , 447px 206px #FFF , 1841px 48px #FFF , 1370px 143px #FFF , 793px 301px #FFF , 1672px 444px #FFF , 1278px 77px #FFF , 1040px 1719px #FFF , 1488px 1475px #FFF , 1595px 839px #FFF , 448px 253px #FFF , 634px 587px #FFF , 973px 215px #FFF , 396px 1969px #FFF , 1623px 457px #FFF , 750px 1556px #FFF , 1209px 609px #FFF , 798px 666px #FFF , 1993px 102px #FFF , 1275px 544px #FFF , 258px 1300px #FFF , 1137px 1670px #FFF , 997px 979px #FFF , 973px 1124px #FFF , 407px 196px #FFF , 246px 1842px #FFF , 299px 1512px #FFF , 1458px 1239px #FFF , 416px 1841px #FFF , 1174px 492px #FFF , 1642px 977px #FFF , 818px 322px #FFF , 696px 1929px #FFF , 1194px 1755px #FFF , 1945px 1691px #FFF , 1292px 1801px #FFF , 889px 1147px #FFF , 1076px 330px #FFF , 1990px 820px #FFF , 1979px 1810px #FFF , 297px 362px #FFF , 795px 1280px #FFF , 623px 1432px #FFF , 88px 1114px #FFF , 1643px 1783px #FFF , 1269px 1687px #FFF , 1401px 118px #FFF , 794px 555px #FFF , 1357px 135px #FFF , 1505px 784px #FFF , 1864px 301px #FFF , 666px 1205px #FFF , 40px 93px #FFF , 57px 1431px #FFF , 1805px 442px #FFF , 191px 79px #FFF , 1880px 263px #FFF , 652px 1213px #FFF , 860px 96px #FFF , 342px 1940px #FFF , 512px 1596px #FFF , 1716px 480px #FFF , 1724px 1275px #FFF , 894px 238px #FFF , 1126px 373px #FFF , 1667px 958px #FFF , 485px 845px #FFF , 1585px 1282px #FFF , 296px 598px #FFF , 169px 1678px #FFF , 444px 1536px #FFF , 562px 286px #FFF , 1998px 503px #FFF , 1211px 893px #FFF , 458px 448px #FFF , 1607px 205px #FFF , 84px 494px #FFF , 1776px 1405px #FFF , 165px 913px #FFF , 406px 1894px #FFF , 529px 1823px #FFF , 711px 857px #FFF , 1717px 991px #FFF , 971px 1458px #FFF , 565px 1005px #FFF , 944px 1325px #FFF , 1471px 1086px #FFF , 303px 589px #FFF , 1811px 1152px #FFF , 341px 8px #FFF , 1641px 1645px #FFF , 1408px 741px #FFF , 1093px 555px #FFF , 410px 920px #FFF , 299px 926px #FFF , 1210px 1095px #FFF , 515px 1440px #FFF , 895px 1440px #FFF , 367px 1249px #FFF , 1414px 930px #FFF , 208px 1379px #FFF , 1480px 57px #FFF , 1139px 344px #FFF , 845px 1517px #FFF , 1167px 279px #FFF , 32px 1968px #FFF , 841px 428px #FFF , 1989px 143px #FFF , 1709px 839px #FFF , 1256px 1057px #FFF , 935px 1457px #FFF , 1203px 1996px #FFF , 1766px 74px #FFF , 1042px 1033px #FFF , 1398px 696px #FFF , 1853px 1714px #FFF , 1081px 1653px #FFF , 201px 1370px #FFF , 448px 554px #FFF , 1861px 1297px #FFF , 671px 400px #FFF , 336px 55px #FFF , 529px 1817px #FFF , 1311px 201px #FFF , 128px 1651px #FFF , 1313px 1438px #FFF , 1534px 873px #FFF , 1129px 1479px #FFF , 717px 1088px #FFF , 482px 1797px #FFF , 531px 1423px #FFF , 292px 393px #FFF , 969px 1886px #FFF , 1614px 941px #FFF , 366px 1508px #FFF , 1028px 983px #FFF , 114px 695px #FFF , 959px 1782px #FFF , 1800px 694px #FFF , 1481px 1764px #FFF , 988px 1388px #FFF , 1597px 383px #FFF , 844px 616px #FFF , 558px 1691px #FFF , 1824px 542px #FFF , 1375px 787px #FFF , 1046px 1229px #FFF , 660px 274px #FFF , 1609px 62px #FFF , 686px 172px #FFF , 1783px 1342px #FFF , 1587px 578px #FFF , 274px 727px #FFF , 583px 1249px #FFF , 1497px 982px #FFF , 1257px 1630px #FFF , 650px 1838px #FFF , 881px 1713px #FFF , 1647px 1116px #FFF , 269px 670px #FFF , 1130px 200px #FFF , 935px 469px #FFF , 727px 1332px #FFF , 1426px 1914px #FFF , 1324px 413px #FFF , 316px 686px #FFF , 1338px 1413px #FFF , 710px 738px #FFF , 750px 1154px #FFF , 1350px 338px #FFF , 1962px 407px #FFF , 1533px 181px #FFF , 1728px 596px #FFF , 1378px 312px #FFF , 1247px 84px #FFF , 278px 262px #FFF , 143px 1612px #FFF , 1918px 901px #FFF , 976px 610px #FFF , 923px 473px #FFF , 1440px 1191px #FFF , 1175px 921px #FFF , 1035px 707px #FFF , 1742px 181px #FFF , 1920px 930px #FFF , 315px 676px #FFF , 222px 1877px #FFF , 1357px 1156px #FFF , 750px 1735px #FFF , 1507px 846px #FFF , 326px 727px #FFF , 287px 1354px #FFF , 1764px 1546px #FFF , 849px 342px #FFF , 58px 377px #FFF , 995px 1582px #FFF , 731px 600px #FFF , 915px 1681px #FFF , 1039px 333px #FFF , 61px 1529px #FFF , 401px 969px #FFF , 211px 199px #FFF , 11px 914px #FFF , 1454px 306px #FFF , 885px 497px #FFF , 894px 899px #FFF , 1957px 456px #FFF , 1003px 475px #FFF , 789px 33px #FFF , 1974px 1036px #FFF , 1206px 369px #FFF , 234px 1118px #FFF , 409px 1990px #FFF , 1579px 161px #FFF , 602px 506px #FFF , 450px 878px #FFF , 133px 371px #FFF , 1120px 1059px #FFF , 1643px 744px #FFF , 1501px 171px #FFF , 1238px 873px #FFF , 247px 1493px #FFF , 519px 1691px #FFF , 872px 1773px #FFF , 1593px 1574px #FFF , 642px 1339px #FFF , 1624px 494px #FFF , 364px 1175px #FFF , 1860px 7px #FFF , 1859px 574px #FFF , 639px 920px #FFF , 1588px 1316px #FFF , 1028px 1562px #FFF , 1880px 1851px #FFF , 915px 1801px #FFF , 1201px 1834px #FFF , 1534px 1677px #FFF , 656px 929px #FFF , 1535px 1194px #FFF , 1063px 1174px #FFF , 1439px 654px #FFF , 1509px 1626px #FFF , 1087px 128px #FFF , 543px 838px #FFF , 1124px 1403px #FFF , 1703px 956px #FFF , 186px 27px #FFF , 1504px 658px #FFF , 1860px 882px #FFF , 298px 1907px #FFF , 1109px 680px #FFF , 335px 1351px #FFF , 1629px 1062px #FFF , 498px 773px #FFF , 1384px 881px #FFF , 67px 1818px #FFF , 1921px 1628px #FFF , 1816px 789px #FFF , 859px 1177px #FFF , 394px 528px #FFF , 642px 1859px #FFF , 1297px 1519px #FFF , 1439px 807px #FFF , 199px 1520px #FFF , 1839px 1032px #FFF , 295px 868px #FFF , 163px 1827px #FFF , 1882px 798px #FFF , 1634px 1936px #FFF , 1124px 1175px #FFF , 513px 1945px #FFF , 210px 821px #FFF , 222px 1358px #FFF , 1625px 301px #FFF , 1481px 1926px #FFF , 1324px 21px #FFF , 951px 205px #FFF , 1943px 720px #FFF , 783px 1065px #FFF , 749px 1465px #FFF , 1292px 1998px #FFF , 545px 374px #FFF , 789px 1162px #FFF , 1775px 197px #FFF , 1728px 1495px #FFF , 80px 1376px #FFF , 2000px 355px #FFF , 1659px 1708px #FFF , 433px 35px #FFF , 717px 1663px #FFF , 1434px 1858px #FFF , 708px 819px #FFF , 31px 413px #FFF , 1631px 1549px #FFF , 1868px 28px #FFF , 1531px 679px #FFF , 1986px 1693px #FFF , 263px 1997px #FFF , 1196px 1652px #FFF , 1202px 1213px #FFF , 1020px 1276px #FFF , 644px 1480px #FFF , 1780px 1258px #FFF , 1947px 682px #FFF , 1874px 1748px #FFF , 1355px 572px #FFF , 811px 237px #FFF , 1977px 1274px #FFF , 1252px 842px #FFF , 675px 1251px #FFF , 696px 878px #FFF , 1386px 601px #FFF , 1580px 1595px #FFF , 296px 818px #FFF , 822px 1934px #FFF , 1145px 600px #FFF , 411px 1115px #FFF , 1543px 344px #FFF , 971px 1575px #FFF , 1882px 1277px #FFF , 211px 1978px #FFF , 1386px 1426px #FFF , 108px 541px #FFF , 188px 427px #FFF , 941px 1176px #FFF , 1289px 739px #FFF , 731px 856px #FFF , 396px 1862px #FFF , 726px 1417px #FFF , 1774px 972px #FFF , 358px 1662px #FFF , 1253px 40px #FFF , 195px 195px #FFF , 361px 950px #FFF , 150px 1927px #FFF , 970px 1780px #FFF , 812px 751px #FFF , 840px 1415px #FFF , 741px 769px #FFF , 372px 1451px #FFF , 1197px 18px #FFF , 817px 826px #FFF , 731px 400px #FFF , 785px 871px #FFF , 1692px 1619px #FFF , 1720px 1095px #FFF , 589px 1409px #FFF , 1917px 1904px #FFF , 1057px 1661px #FFF , 167px 1895px #FFF , 1661px 1976px #FFF , 1597px 2px #FFF , 1081px 1695px #FFF , 55px 360px #FFF , 194px 34px #FFF , 335px 1448px #FFF , 377px 366px #FFF , 1215px 808px #FFF , 761px 1267px #FFF , 1063px 351px #FFF , 511px 1482px #FFF , 1988px 764px #FFF , 1961px 64px #FFF , 692px 9px #FFF , 1607px 1614px #FFF , 498px 37px #FFF , 1163px 1508px #FFF , 922px 141px #FFF , 63px 1458px #FFF , 1079px 1px #FFF , 1393px 168px #FFF , 589px 1959px #FFF , 1270px 72px #FFF , 531px 1932px #FFF , 717px 1971px #FFF , 1323px 1879px #FFF , 1418px 814px #FFF , 1787px 1805px #FFF , 340px 1543px #FFF , 384px 846px #FFF , 1763px 209px #FFF , 381px 1309px #FFF , 454px 1187px #FFF , 746px 1760px #FFF , 1696px 210px #FFF , 880px 1652px #FFF , 1593px 1568px #FFF , 943px 383px #FFF , 638px 372px #FFF , 938px 1586px #FFF , 70px 902px #FFF , 75px 234px #FFF , 1094px 367px #FFF , 674px 1291px #FFF , 793px 172px #FFF , 1551px 420px #FFF , 1227px 197px #FFF , 180px 1157px #FFF , 270px 694px #FFF , 1069px 1534px #FFF , 206px 1158px #FFF , 951px 1206px #FFF , 730px 774px #FFF , 1222px 989px #FFF , 1126px 1504px #FFF , 1771px 209px #FFF , 1206px 1941px #FFF , 638px 156px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 127px 22px #FFF , 89px 1194px #FFF , 845px 987px #FFF , 726px 1135px #FFF , 533px 837px #FFF , 155px 1174px #FFF , 1692px 636px #FFF , 1888px 991px #FFF , 550px 725px #FFF , 1479px 248px #FFF , 609px 843px #FFF , 4px 867px #FFF , 1603px 1290px #FFF , 1367px 1399px #FFF , 970px 1892px #FFF , 630px 925px #FFF , 458px 1557px #FFF , 675px 1627px #FFF , 1602px 1555px #FFF , 966px 928px #FFF , 179px 537px #FFF , 402px 952px #FFF , 1812px 1537px #FFF , 693px 979px #FFF , 1383px 1081px #FFF , 827px 1247px #FFF , 577px 303px #FFF , 767px 1345px #FFF , 746px 1842px #FFF , 671px 688px #FFF , 465px 786px #FFF , 626px 1204px #FFF , 389px 1564px #FFF , 1414px 1373px #FFF , 1518px 195px #FFF , 1058px 746px #FFF , 554px 1463px #FFF , 986px 1055px #FFF , 1974px 1786px #FFF , 1013px 1442px #FFF , 1646px 1420px #FFF , 1183px 656px #FFF , 1992px 1031px #FFF , 1037px 529px #FFF , 1326px 833px #FFF , 1037px 1485px #FFF , 709px 841px #FFF , 1816px 1956px #FFF , 1336px 353px #FFF , 447px 508px #FFF , 1652px 1133px #FFF , 1512px 704px #FFF , 373px 1969px #FFF , 633px 683px #FFF , 1900px 735px #FFF , 983px 15px #FFF , 262px 472px #FFF , 795px 990px #FFF , 316px 1110px #FFF , 1373px 1597px #FFF , 1796px 4px #FFF , 807px 1908px #FFF , 1059px 1260px #FFF , 1523px 679px #FFF , 1287px 863px #FFF , 593px 280px #FFF , 1122px 1666px #FFF , 1253px 1627px #FFF , 1234px 1662px #FFF , 1140px 344px #FFF , 1027px 961px #FFF , 19px 988px #FFF , 980px 225px #FFF , 853px 1634px #FFF , 1567px 55px #FFF , 1714px 1442px #FFF , 1248px 1061px #FFF , 130px 778px #FFF , 890px 819px #FFF , 1081px 1453px #FFF , 1508px 616px #FFF , 750px 1724px #FFF , 144px 428px #FFF , 1367px 1593px #FFF , 1961px 1548px #FFF , 1090px 1572px #FFF , 224px 271px #FFF , 530px 1002px #FFF , 576px 1773px #FFF , 450px 777px #FFF , 1053px 788px #FFF , 923px 607px #FFF , 744px 1139px #FFF , 1970px 276px #FFF , 876px 517px #FFF , 1223px 1093px #FFF , 688px 1146px #FFF , 1999px 1470px #FFF , 1036px 1654px #FFF , 706px 1712px #FFF , 289px 1616px #FFF , 857px 1007px #FFF , 1505px 1548px #FFF , 973px 943px #FFF , 300px 928px #FFF , 1896px 779px #FFF , 94px 799px #FFF , 1376px 1296px #FFF , 386px 1731px #FFF , 1887px 621px #FFF , 97px 1746px #FFF , 124px 1288px #FFF , 68px 1460px #FFF , 1630px 1208px #FFF , 1257px 761px #FFF , 618px 1485px #FFF , 148px 1002px #FFF , 819px 784px #FFF , 180px 151px #FFF , 248px 450px #FFF , 824px 887px #FFF , 1640px 1410px #FFF , 496px 1653px #FFF , 424px 1536px #FFF , 538px 630px #FFF , 1692px 1752px #FFF , 833px 217px #FFF , 731px 63px #FFF , 1232px 1141px #FFF , 240px 702px #FFF , 1070px 1608px #FFF , 7px 320px #FFF , 1404px 1062px #FFF , 948px 637px #FFF , 1418px 241px #FFF , 585px 398px #FFF , 1818px 1837px #FFF , 1902px 1844px #FFF , 250px 1894px #FFF , 1118px 360px #FFF , 978px 1748px #FFF , 1707px 249px #FFF , 1984px 732px #FFF , 1380px 1546px #FFF , 508px 1256px #FFF , 1244px 61px #FFF , 340px 1565px #FFF , 61px 1293px #FFF , 12px 1418px #FFF , 251px 307px #FFF , 439px 378px #FFF , 1538px 2px #FFF , 776px 813px #FFF , 1481px 1242px #FFF , 1471px 1073px #FFF , 87px 499px #FFF , 1564px 1120px #FFF , 1813px 1482px #FFF , 1535px 1776px #FFF , 66px 605px #FFF , 468px 1106px #FFF , 1968px 616px #FFF , 1301px 243px #FFF , 1542px 569px #FFF , 1906px 736px #FFF , 364px 540px #FFF , 470px 1400px #FFF , 1019px 822px #FFF , 1447px 972px #FFF , 1962px 105px #FFF , 1475px 665px #FFF , 114px 584px #FFF , 1686px 429px #FFF , 1683px 1753px #FFF , 650px 443px #FFF , 1680px 770px #FFF , 798px 1248px #FFF , 1888px 70px #FFF , 267px 193px #FFF , 1651px 1832px #FFF , 1699px 1582px #FFF , 1814px 935px #FFF , 1893px 453px #FFF , 1600px 1322px #FFF , 1926px 458px #FFF , 1170px 1354px #FFF , 987px 1123px #FFF , 1650px 196px #FFF , 790px 1280px #FFF , 919px 977px #FFF , 1130px 1086px #FFF , 1173px 1362px #FFF , 336px 840px #FFF , 814px 1079px #FFF , 154px 1604px #FFF , 580px 686px #FFF , 816px 1122px #FFF , 1822px 1929px #FFF , 917px 735px #FFF , 310px 941px #FFF , 1688px 669px #FFF , 117px 166px #FFF , 1980px 1074px #FFF , 1658px 1058px #FFF , 1300px 1553px #FFF , 294px 138px #FFF , 297px 1480px #FFF , 1192px 1136px #FFF , 258px 338px #FFF , 1875px 305px #FFF , 284px 689px #FFF , 1200px 1436px #FFF , 277px 78px #FFF , 936px 281px #FFF , 303px 455px #FFF , 573px 526px #FFF , 629px 335px #FFF , 355px 933px #FFF , 713px 1396px #FFF , 1025px 1162px #FFF , 425px 386px #FFF , 1886px 341px #FFF , 1701px 1950px #FFF , 246px 26px #FFF , 1422px 52px #FFF , 20px 1186px #FFF , 182px 353px #FFF , 1408px 771px #FFF , 356px 435px #FFF , 779px 171px #FFF , 1901px 434px #FFF , 76px 1357px #FFF , 242px 89px #FFF , 727px 1767px #FFF , 1777px 1597px #FFF , 34px 1336px #FFF , 302px 460px #FFF , 1119px 1193px #FFF , 411px 52px #FFF , 1295px 1582px #FFF , 1873px 367px #FFF , 1787px 1973px #FFF , 320px 954px #FFF , 1097px 966px #FFF , 1755px 1686px #FFF , 1121px 1542px #FFF , 1122px 460px #FFF , 50px 645px #FFF , 1909px 1093px #FFF , 416px 767px #FFF , 1359px 618px #FFF , 1353px 1543px #FFF , 1369px 749px #FFF , 44px 500px #FFF , 1107px 1163px #FFF , 27px 556px #FFF , 440px 596px #FFF , 805px 1015px #FFF , 411px 1369px #FFF , 1605px 1608px #FFF , 1536px 374px #FFF , 147px 985px #FFF , 851px 876px #FFF , 831px 589px #FFF , 279px 1956px #FFF , 881px 1716px #FFF , 1722px 1999px #FFF , 882px 315px #FFF , 1558px 1737px #FFF , 1657px 1961px #FFF , 1559px 492px #FFF , 1735px 805px #FFF , 746px 1547px #FFF , 1288px 1005px #FFF , 79px 771px #FFF , 1258px 1866px #FFF , 1839px 844px #FFF , 1191px 1523px #FFF , 1298px 1125px #FFF , 346px 768px #FFF , 1970px 1045px #FFF , 1954px 636px #FFF , 1266px 66px #FFF , 905px 1824px #FFF , 1684px 533px #FFF , 1336px 1465px #FFF , 1559px 1530px #FFF , 1446px 1874px #FFF , 632px 1019px #FFF , 1457px 1566px #FFF , 315px 565px #FFF , 1360px 533px #FFF , 1238px 949px #FFF , 447px 206px #FFF , 1841px 48px #FFF , 1370px 143px #FFF , 793px 301px #FFF , 1672px 444px #FFF , 1278px 77px #FFF , 1040px 1719px #FFF , 1488px 1475px #FFF , 1595px 839px #FFF , 448px 253px #FFF , 634px 587px #FFF , 973px 215px #FFF , 396px 1969px #FFF , 1623px 457px #FFF , 750px 1556px #FFF , 1209px 609px #FFF , 798px 666px #FFF , 1993px 102px #FFF , 1275px 544px #FFF , 258px 1300px #FFF , 1137px 1670px #FFF , 997px 979px #FFF , 973px 1124px #FFF , 407px 196px #FFF , 246px 1842px #FFF , 299px 1512px #FFF , 1458px 1239px #FFF , 416px 1841px #FFF , 1174px 492px #FFF , 1642px 977px #FFF , 818px 322px #FFF , 696px 1929px #FFF , 1194px 1755px #FFF , 1945px 1691px #FFF , 1292px 1801px #FFF , 889px 1147px #FFF , 1076px 330px #FFF , 1990px 820px #FFF , 1979px 1810px #FFF , 297px 362px #FFF , 795px 1280px #FFF , 623px 1432px #FFF , 88px 1114px #FFF , 1643px 1783px #FFF , 1269px 1687px #FFF , 1401px 118px #FFF , 794px 555px #FFF , 1357px 135px #FFF , 1505px 784px #FFF , 1864px 301px #FFF , 666px 1205px #FFF , 40px 93px #FFF , 57px 1431px #FFF , 1805px 442px #FFF , 191px 79px #FFF , 1880px 263px #FFF , 652px 1213px #FFF , 860px 96px #FFF , 342px 1940px #FFF , 512px 1596px #FFF , 1716px 480px #FFF , 1724px 1275px #FFF , 894px 238px #FFF , 1126px 373px #FFF , 1667px 958px #FFF , 485px 845px #FFF , 1585px 1282px #FFF , 296px 598px #FFF , 169px 1678px #FFF , 444px 1536px #FFF , 562px 286px #FFF , 1998px 503px #FFF , 1211px 893px #FFF , 458px 448px #FFF , 1607px 205px #FFF , 84px 494px #FFF , 1776px 1405px #FFF , 165px 913px #FFF , 406px 1894px #FFF , 529px 1823px #FFF , 711px 857px #FFF , 1717px 991px #FFF , 971px 1458px #FFF , 565px 1005px #FFF , 944px 1325px #FFF , 1471px 1086px #FFF , 303px 589px #FFF , 1811px 1152px #FFF , 341px 8px #FFF , 1641px 1645px #FFF , 1408px 741px #FFF , 1093px 555px #FFF , 410px 920px #FFF , 299px 926px #FFF , 1210px 1095px #FFF , 515px 1440px #FFF , 895px 1440px #FFF , 367px 1249px #FFF , 1414px 930px #FFF , 208px 1379px #FFF , 1480px 57px #FFF , 1139px 344px #FFF , 845px 1517px #FFF , 1167px 279px #FFF , 32px 1968px #FFF , 841px 428px #FFF , 1989px 143px #FFF , 1709px 839px #FFF , 1256px 1057px #FFF , 935px 1457px #FFF , 1203px 1996px #FFF , 1766px 74px #FFF , 1042px 1033px #FFF , 1398px 696px #FFF , 1853px 1714px #FFF , 1081px 1653px #FFF , 201px 1370px #FFF , 448px 554px #FFF , 1861px 1297px #FFF , 671px 400px #FFF , 336px 55px #FFF , 529px 1817px #FFF , 1311px 201px #FFF , 128px 1651px #FFF , 1313px 1438px #FFF , 1534px 873px #FFF , 1129px 1479px #FFF , 717px 1088px #FFF , 482px 1797px #FFF , 531px 1423px #FFF , 292px 393px #FFF , 969px 1886px #FFF , 1614px 941px #FFF , 366px 1508px #FFF , 1028px 983px #FFF , 114px 695px #FFF , 959px 1782px #FFF , 1800px 694px #FFF , 1481px 1764px #FFF , 988px 1388px #FFF , 1597px 383px #FFF , 844px 616px #FFF , 558px 1691px #FFF , 1824px 542px #FFF , 1375px 787px #FFF , 1046px 1229px #FFF , 660px 274px #FFF , 1609px 62px #FFF , 686px 172px #FFF , 1783px 1342px #FFF , 1587px 578px #FFF , 274px 727px #FFF , 583px 1249px #FFF , 1497px 982px #FFF , 1257px 1630px #FFF , 650px 1838px #FFF , 881px 1713px #FFF , 1647px 1116px #FFF , 269px 670px #FFF , 1130px 200px #FFF , 935px 469px #FFF , 727px 1332px #FFF , 1426px 1914px #FFF , 1324px 413px #FFF , 316px 686px #FFF , 1338px 1413px #FFF , 710px 738px #FFF , 750px 1154px #FFF , 1350px 338px #FFF , 1962px 407px #FFF , 1533px 181px #FFF , 1728px 596px #FFF , 1378px 312px #FFF , 1247px 84px #FFF , 278px 262px #FFF , 143px 1612px #FFF , 1918px 901px #FFF , 976px 610px #FFF , 923px 473px #FFF , 1440px 1191px #FFF , 1175px 921px #FFF , 1035px 707px #FFF , 1742px 181px #FFF , 1920px 930px #FFF , 315px 676px #FFF , 222px 1877px #FFF , 1357px 1156px #FFF , 750px 1735px #FFF , 1507px 846px #FFF , 326px 727px #FFF , 287px 1354px #FFF , 1764px 1546px #FFF , 849px 342px #FFF , 58px 377px #FFF , 995px 1582px #FFF , 731px 600px #FFF , 915px 1681px #FFF , 1039px 333px #FFF , 61px 1529px #FFF , 401px 969px #FFF , 211px 199px #FFF , 11px 914px #FFF , 1454px 306px #FFF , 885px 497px #FFF , 894px 899px #FFF , 1957px 456px #FFF , 1003px 475px #FFF , 789px 33px #FFF , 1974px 1036px #FFF , 1206px 369px #FFF , 234px 1118px #FFF , 409px 1990px #FFF , 1579px 161px #FFF , 602px 506px #FFF , 450px 878px #FFF , 133px 371px #FFF , 1120px 1059px #FFF , 1643px 744px #FFF , 1501px 171px #FFF , 1238px 873px #FFF , 247px 1493px #FFF , 519px 1691px #FFF , 872px 1773px #FFF , 1593px 1574px #FFF , 642px 1339px #FFF , 1624px 494px #FFF , 364px 1175px #FFF , 1860px 7px #FFF , 1859px 574px #FFF , 639px 920px #FFF , 1588px 1316px #FFF , 1028px 1562px #FFF , 1880px 1851px #FFF , 915px 1801px #FFF , 1201px 1834px #FFF , 1534px 1677px #FFF , 656px 929px #FFF , 1535px 1194px #FFF , 1063px 1174px #FFF , 1439px 654px #FFF , 1509px 1626px #FFF , 1087px 128px #FFF , 543px 838px #FFF , 1124px 1403px #FFF , 1703px 956px #FFF , 186px 27px #FFF , 1504px 658px #FFF , 1860px 882px #FFF , 298px 1907px #FFF , 1109px 680px #FFF , 335px 1351px #FFF , 1629px 1062px #FFF , 498px 773px #FFF , 1384px 881px #FFF , 67px 1818px #FFF , 1921px 1628px #FFF , 1816px 789px #FFF , 859px 1177px #FFF , 394px 528px #FFF , 642px 1859px #FFF , 1297px 1519px #FFF , 1439px 807px #FFF , 199px 1520px #FFF , 1839px 1032px #FFF , 295px 868px #FFF , 163px 1827px #FFF , 1882px 798px #FFF , 1634px 1936px #FFF , 1124px 1175px #FFF , 513px 1945px #FFF , 210px 821px #FFF , 222px 1358px #FFF , 1625px 301px #FFF , 1481px 1926px #FFF , 1324px 21px #FFF , 951px 205px #FFF , 1943px 720px #FFF , 783px 1065px #FFF , 749px 1465px #FFF , 1292px 1998px #FFF , 545px 374px #FFF , 789px 1162px #FFF , 1775px 197px #FFF , 1728px 1495px #FFF , 80px 1376px #FFF , 2000px 355px #FFF , 1659px 1708px #FFF , 433px 35px #FFF , 717px 1663px #FFF , 1434px 1858px #FFF , 708px 819px #FFF , 31px 413px #FFF , 1631px 1549px #FFF , 1868px 28px #FFF , 1531px 679px #FFF , 1986px 1693px #FFF , 263px 1997px #FFF , 1196px 1652px #FFF , 1202px 1213px #FFF , 1020px 1276px #FFF , 644px 1480px #FFF , 1780px 1258px #FFF , 1947px 682px #FFF , 1874px 1748px #FFF , 1355px 572px #FFF , 811px 237px #FFF , 1977px 1274px #FFF , 1252px 842px #FFF , 675px 1251px #FFF , 696px 878px #FFF , 1386px 601px #FFF , 1580px 1595px #FFF , 296px 818px #FFF , 822px 1934px #FFF , 1145px 600px #FFF , 411px 1115px #FFF , 1543px 344px #FFF , 971px 1575px #FFF , 1882px 1277px #FFF , 211px 1978px #FFF , 1386px 1426px #FFF , 108px 541px #FFF , 188px 427px #FFF , 941px 1176px #FFF , 1289px 739px #FFF , 731px 856px #FFF , 396px 1862px #FFF , 726px 1417px #FFF , 1774px 972px #FFF , 358px 1662px #FFF , 1253px 40px #FFF , 195px 195px #FFF , 361px 950px #FFF , 150px 1927px #FFF , 970px 1780px #FFF , 812px 751px #FFF , 840px 1415px #FFF , 741px 769px #FFF , 372px 1451px #FFF , 1197px 18px #FFF , 817px 826px #FFF , 731px 400px #FFF , 785px 871px #FFF , 1692px 1619px #FFF , 1720px 1095px #FFF , 589px 1409px #FFF , 1917px 1904px #FFF , 1057px 1661px #FFF , 167px 1895px #FFF , 1661px 1976px #FFF , 1597px 2px #FFF , 1081px 1695px #FFF , 55px 360px #FFF , 194px 34px #FFF , 335px 1448px #FFF , 377px 366px #FFF , 1215px 808px #FFF , 761px 1267px #FFF , 1063px 351px #FFF , 511px 1482px #FFF , 1988px 764px #FFF , 1961px 64px #FFF , 692px 9px #FFF , 1607px 1614px #FFF , 498px 37px #FFF , 1163px 1508px #FFF , 922px 141px #FFF , 63px 1458px #FFF , 1079px 1px #FFF , 1393px 168px #FFF , 589px 1959px #FFF , 1270px 72px #FFF , 531px 1932px #FFF , 717px 1971px #FFF , 1323px 1879px #FFF , 1418px 814px #FFF , 1787px 1805px #FFF , 340px 1543px #FFF , 384px 846px #FFF , 1763px 209px #FFF , 381px 1309px #FFF , 454px 1187px #FFF , 746px 1760px #FFF , 1696px 210px #FFF , 880px 1652px #FFF , 1593px 1568px #FFF , 943px 383px #FFF , 638px 372px #FFF , 938px 1586px #FFF , 70px 902px #FFF , 75px 234px #FFF , 1094px 367px #FFF , 674px 1291px #FFF , 793px 172px #FFF , 1551px 420px #FFF , 1227px 197px #FFF , 180px 1157px #FFF , 270px 694px #FFF , 1069px 1534px #FFF , 206px 1158px #FFF , 951px 1206px #FFF , 730px 774px #FFF , 1222px 989px #FFF , 1126px 1504px #FFF , 1771px 209px #FFF , 1206px 1941px #FFF , 638px 156px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 982px 960px #FFF , 1331px 1122px #FFF , 327px 672px #FFF , 1627px 1937px #FFF , 760px 1483px #FFF , 488px 1545px #FFF , 379px 675px #FFF , 1989px 240px #FFF , 572px 1779px #FFF , 671px 909px #FFF , 452px 1001px #FFF , 1315px 27px #FFF , 220px 61px #FFF , 1663px 574px #FFF , 786px 1068px #FFF , 561px 118px #FFF , 608px 1529px #FFF , 562px 700px #FFF , 1048px 248px #FFF , 961px 1653px #FFF , 182px 1025px #FFF , 1007px 1792px #FFF , 1676px 1842px #FFF , 662px 421px #FFF , 67px 1781px #FFF , 677px 33px #FFF , 680px 118px #FFF , 270px 929px #FFF , 55px 729px #FFF , 408px 905px #FFF , 1075px 1000px #FFF , 1892px 1290px #FFF , 1283px 118px #FFF , 17px 227px #FFF , 1247px 1656px #FFF , 1691px 569px #FFF , 1877px 943px #FFF , 1608px 1193px #FFF , 993px 1044px #FFF , 656px 1384px #FFF , 1174px 1162px #FFF , 636px 1306px #FFF , 1476px 89px #FFF , 500px 682px #FFF , 1420px 975px #FFF , 555px 1983px #FFF , 1915px 115px #FFF , 1509px 87px #FFF , 1605px 298px #FFF , 1445px 334px #FFF , 1137px 1723px #FFF , 837px 226px #FFF , 908px 197px #FFF , 445px 1994px #FFF , 97px 1359px #FFF , 530px 1405px #FFF , 1198px 1850px #FFF , 335px 1492px #FFF , 475px 1766px #FFF , 661px 378px #FFF , 357px 1363px #FFF , 1912px 1807px #FFF , 887px 1040px #FFF , 532px 1549px #FFF , 453px 1896px #FFF , 483px 565px #FFF , 354px 1862px #FFF , 1305px 1306px #FFF , 1884px 1383px #FFF , 285px 695px #FFF , 785px 1680px #FFF , 1378px 1054px #FFF , 594px 279px #FFF , 1938px 1517px #FFF , 335px 491px #FFF , 360px 524px #FFF , 201px 1885px #FFF , 1429px 404px #FFF , 509px 1314px #FFF , 224px 1382px #FFF , 1175px 1589px #FFF , 627px 1091px #FFF , 1596px 386px #FFF , 478px 532px #FFF , 68px 801px #FFF , 532px 967px #FFF , 1034px 1122px #FFF , 331px 124px #FFF , 1846px 84px #FFF , 96px 110px #FFF , 1845px 1030px #FFF , 1286px 469px #FFF , 509px 1622px #FFF , 889px 1569px #FFF , 823px 1956px #FFF , 628px 1339px #FFF , 706px 1274px #FFF , 360px 209px #FFF , 871px 794px #FFF , 1827px 56px #FFF , 167px 1490px #FFF , 1863px 1666px #FFF , 533px 1043px #FFF , 270px 1479px #FFF , 1974px 788px #FFF , 382px 263px #FFF , 879px 1842px #FFF , 1522px 178px #FFF , 1939px 914px #FFF , 1752px 1607px #FFF , 1135px 1337px #FFF , 1112px 230px #FFF , 1978px 1860px #FFF , 1570px 397px #FFF , 249px 13px #FFF , 1182px 1940px #FFF , 1896px 197px #FFF , 1662px 1197px #FFF , 742px 1465px #FFF , 721px 1936px #FFF , 201px 1871px #FFF , 392px 328px #FFF , 410px 1801px #FFF , 1139px 458px #FFF , 1974px 1329px #FFF , 1279px 1181px #FFF , 1477px 55px #FFF , 778px 664px #FFF , 1355px 465px #FFF , 1839px 1747px #FFF , 282px 640px #FFF , 737px 1653px #FFF , 829px 1856px #FFF , 699px 1229px #FFF , 384px 824px #FFF , 237px 1552px #FFF , 45px 443px #FFF , 1789px 223px #FFF , 1659px 1300px #FFF , 358px 30px #FFF , 1156px 521px #FFF , 1477px 330px #FFF , 1627px 743px #FFF , 148px 2000px #FFF , 117px 1573px #FFF , 841px 1799px #FFF , 745px 511px #FFF , 1185px 1969px #FFF , 220px 1192px #FFF , 1719px 1995px #FFF , 1183px 464px #FFF , 1382px 1049px #FFF , 1493px 1065px #FFF , 1578px 1421px #FFF , 518px 1587px #FFF , 1997px 396px #FFF , 1913px 1386px #FFF , 1461px 43px #FFF , 772px 1995px #FFF , 119px 776px #FFF , 428px 1906px #FFF , 1167px 827px #FFF , 1152px 1264px #FFF , 362px 1182px #FFF , 190px 265px #FFF , 234px 596px #FFF , 28px 1180px #FFF , 905px 1901px #FFF , 1805px 1393px #FFF , 431px 1803px #FFF , 898px 805px #FFF , 1066px 1984px #FFF , 1695px 1205px #FFF , 1866px 1624px #FFF , 131px 1065px #FFF , 307px 602px #FFF , 333px 1743px #FFF , 1459px 231px #FFF , 457px 1960px #FFF , 31px 24px #FFF , 1830px 1648px #FFF , 446px 217px #FFF , 1400px 1098px #FFF , 77px 698px #FFF , 1071px 1679px #FFF , 1907px 296px #FFF , 625px 1133px #FFF , 1243px 1448px #FFF , 566px 535px #FFF , 1042px 603px #FFF , 1406px 1532px #FFF , 1558px 450px #FFF , 1327px 547px #FFF , 1471px 1040px #FFF , 1296px 1293px #FFF , 1672px 1298px #FFF , 1851px 429px #FFF , 1570px 697px #FFF , 1340px 1786px #FFF , 126px 805px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 982px 960px #FFF , 1331px 1122px #FFF , 327px 672px #FFF , 1627px 1937px #FFF , 760px 1483px #FFF , 488px 1545px #FFF , 379px 675px #FFF , 1989px 240px #FFF , 572px 1779px #FFF , 671px 909px #FFF , 452px 1001px #FFF , 1315px 27px #FFF , 220px 61px #FFF , 1663px 574px #FFF , 786px 1068px #FFF , 561px 118px #FFF , 608px 1529px #FFF , 562px 700px #FFF , 1048px 248px #FFF , 961px 1653px #FFF , 182px 1025px #FFF , 1007px 1792px #FFF , 1676px 1842px #FFF , 662px 421px #FFF , 67px 1781px #FFF , 677px 33px #FFF , 680px 118px #FFF , 270px 929px #FFF , 55px 729px #FFF , 408px 905px #FFF , 1075px 1000px #FFF , 1892px 1290px #FFF , 1283px 118px #FFF , 17px 227px #FFF , 1247px 1656px #FFF , 1691px 569px #FFF , 1877px 943px #FFF , 1608px 1193px #FFF , 993px 1044px #FFF , 656px 1384px #FFF , 1174px 1162px #FFF , 636px 1306px #FFF , 1476px 89px #FFF , 500px 682px #FFF , 1420px 975px #FFF , 555px 1983px #FFF , 1915px 115px #FFF , 1509px 87px #FFF , 1605px 298px #FFF , 1445px 334px #FFF , 1137px 1723px #FFF , 837px 226px #FFF , 908px 197px #FFF , 445px 1994px #FFF , 97px 1359px #FFF , 530px 1405px #FFF , 1198px 1850px #FFF , 335px 1492px #FFF , 475px 1766px #FFF , 661px 378px #FFF , 357px 1363px #FFF , 1912px 1807px #FFF , 887px 1040px #FFF , 532px 1549px #FFF , 453px 1896px #FFF , 483px 565px #FFF , 354px 1862px #FFF , 1305px 1306px #FFF , 1884px 1383px #FFF , 285px 695px #FFF , 785px 1680px #FFF , 1378px 1054px #FFF , 594px 279px #FFF , 1938px 1517px #FFF , 335px 491px #FFF , 360px 524px #FFF , 201px 1885px #FFF , 1429px 404px #FFF , 509px 1314px #FFF , 224px 1382px #FFF , 1175px 1589px #FFF , 627px 1091px #FFF , 1596px 386px #FFF , 478px 532px #FFF , 68px 801px #FFF , 532px 967px #FFF , 1034px 1122px #FFF , 331px 124px #FFF , 1846px 84px #FFF , 96px 110px #FFF , 1845px 1030px #FFF , 1286px 469px #FFF , 509px 1622px #FFF , 889px 1569px #FFF , 823px 1956px #FFF , 628px 1339px #FFF , 706px 1274px #FFF , 360px 209px #FFF , 871px 794px #FFF , 1827px 56px #FFF , 167px 1490px #FFF , 1863px 1666px #FFF , 533px 1043px #FFF , 270px 1479px #FFF , 1974px 788px #FFF , 382px 263px #FFF , 879px 1842px #FFF , 1522px 178px #FFF , 1939px 914px #FFF , 1752px 1607px #FFF , 1135px 1337px #FFF , 1112px 230px #FFF , 1978px 1860px #FFF , 1570px 397px #FFF , 249px 13px #FFF , 1182px 1940px #FFF , 1896px 197px #FFF , 1662px 1197px #FFF , 742px 1465px #FFF , 721px 1936px #FFF , 201px 1871px #FFF , 392px 328px #FFF , 410px 1801px #FFF , 1139px 458px #FFF , 1974px 1329px #FFF , 1279px 1181px #FFF , 1477px 55px #FFF , 778px 664px #FFF , 1355px 465px #FFF , 1839px 1747px #FFF , 282px 640px #FFF , 737px 1653px #FFF , 829px 1856px #FFF , 699px 1229px #FFF , 384px 824px #FFF , 237px 1552px #FFF , 45px 443px #FFF , 1789px 223px #FFF , 1659px 1300px #FFF , 358px 30px #FFF , 1156px 521px #FFF , 1477px 330px #FFF , 1627px 743px #FFF , 148px 2000px #FFF , 117px 1573px #FFF , 841px 1799px #FFF , 745px 511px #FFF , 1185px 1969px #FFF , 220px 1192px #FFF , 1719px 1995px #FFF , 1183px 464px #FFF , 1382px 1049px #FFF , 1493px 1065px #FFF , 1578px 1421px #FFF , 518px 1587px #FFF , 1997px 396px #FFF , 1913px 1386px #FFF , 1461px 43px #FFF , 772px 1995px #FFF , 119px 776px #FFF , 428px 1906px #FFF , 1167px 827px #FFF , 1152px 1264px #FFF , 362px 1182px #FFF , 190px 265px #FFF , 234px 596px #FFF , 28px 1180px #FFF , 905px 1901px #FFF , 1805px 1393px #FFF , 431px 1803px #FFF , 898px 805px #FFF , 1066px 1984px #FFF , 1695px 1205px #FFF , 1866px 1624px #FFF , 131px 1065px #FFF , 307px 602px #FFF , 333px 1743px #FFF , 1459px 231px #FFF , 457px 1960px #FFF , 31px 24px #FFF , 1830px 1648px #FFF , 446px 217px #FFF , 1400px 1098px #FFF , 77px 698px #FFF , 1071px 1679px #FFF , 1907px 296px #FFF , 625px 1133px #FFF , 1243px 1448px #FFF , 566px 535px #FFF , 1042px 603px #FFF , 1406px 1532px #FFF , 1558px 450px #FFF , 1327px 547px #FFF , 1471px 1040px #FFF , 1296px 1293px #FFF , 1672px 1298px #FFF , 1851px 429px #FFF , 1570px 697px #FFF , 1340px 1786px #FFF , 126px 805px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1307px 1723px #FFF , 1522px 248px #FFF , 832px 1879px #FFF , 724px 162px #FFF , 1204px 600px #FFF , 654px 1939px #FFF , 1646px 992px #FFF , 1261px 774px #FFF , 1358px 220px #FFF , 3px 1300px #FFF , 104px 1276px #FFF , 1069px 10px #FFF , 1357px 194px #FFF , 1025px 177px #FFF , 109px 1918px #FFF , 1979px 1941px #FFF , 1385px 1733px #FFF , 274px 891px #FFF , 1198px 95px #FFF , 727px 872px #FFF , 1755px 584px #FFF , 1906px 1769px #FFF , 1236px 481px #FFF , 113px 436px #FFF , 1882px 1950px #FFF , 232px 704px #FFF , 715px 1720px #FFF , 1685px 333px #FFF , 370px 417px #FFF , 1341px 1230px #FFF , 1400px 153px #FFF , 1084px 92px #FFF , 1132px 898px #FFF , 518px 509px #FFF , 294px 241px #FFF , 813px 307px #FFF , 678px 1646px #FFF , 1372px 1863px #FFF , 1294px 1857px #FFF , 621px 119px #FFF , 1329px 1730px #FFF , 1615px 1064px #FFF , 954px 767px #FFF , 1067px 122px #FFF , 134px 750px #FFF , 1929px 873px #FFF , 930px 479px #FFF , 1716px 1030px #FFF , 1645px 1769px #FFF , 1208px 1211px #FFF , 705px 1279px #FFF , 316px 1224px #FFF , 980px 1803px #FFF , 775px 920px #FFF , 899px 1303px #FFF , 1487px 971px #FFF , 1989px 1291px #FFF , 978px 1251px #FFF , 1815px 740px #FFF , 489px 647px #FFF , 489px 693px #FFF , 62px 1506px #FFF , 390px 1727px #FFF , 825px 1963px #FFF , 467px 1622px #FFF , 1871px 438px #FFF , 118px 268px #FFF , 1430px 1667px #FFF , 1071px 1912px #FFF , 1774px 1519px #FFF , 356px 1581px #FFF , 501px 943px #FFF , 1331px 706px #FFF , 1121px 154px #FFF , 1670px 1490px #FFF , 19px 1239px #FFF , 405px 266px #FFF , 1196px 1209px #FFF , 1905px 568px #FFF , 906px 1272px #FFF , 1378px 120px #FFF , 962px 1406px #FFF , 36px 883px #FFF , 1558px 612px #FFF , 466px 1601px #FFF , 188px 1356px #FFF , 149px 1534px #FFF , 500px 1755px #FFF , 847px 154px #FFF , 1519px 1322px #FFF , 746px 1521px #FFF , 1587px 1528px #FFF , 1530px 535px #FFF , 1241px 1183px #FFF , 1249px 1783px #FFF , 515px 1533px #FFF , 581px 942px #FFF , 1882px 1464px #FFF , 1554px 530px #FFF , 920px 689px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1307px 1723px #FFF , 1522px 248px #FFF , 832px 1879px #FFF , 724px 162px #FFF , 1204px 600px #FFF , 654px 1939px #FFF , 1646px 992px #FFF , 1261px 774px #FFF , 1358px 220px #FFF , 3px 1300px #FFF , 104px 1276px #FFF , 1069px 10px #FFF , 1357px 194px #FFF , 1025px 177px #FFF , 109px 1918px #FFF , 1979px 1941px #FFF , 1385px 1733px #FFF , 274px 891px #FFF , 1198px 95px #FFF , 727px 872px #FFF , 1755px 584px #FFF , 1906px 1769px #FFF , 1236px 481px #FFF , 113px 436px #FFF , 1882px 1950px #FFF , 232px 704px #FFF , 715px 1720px #FFF , 1685px 333px #FFF , 370px 417px #FFF , 1341px 1230px #FFF , 1400px 153px #FFF , 1084px 92px #FFF , 1132px 898px #FFF , 518px 509px #FFF , 294px 241px #FFF , 813px 307px #FFF , 678px 1646px #FFF , 1372px 1863px #FFF , 1294px 1857px #FFF , 621px 119px #FFF , 1329px 1730px #FFF , 1615px 1064px #FFF , 954px 767px #FFF , 1067px 122px #FFF , 134px 750px #FFF , 1929px 873px #FFF , 930px 479px #FFF , 1716px 1030px #FFF , 1645px 1769px #FFF , 1208px 1211px #FFF , 705px 1279px #FFF , 316px 1224px #FFF , 980px 1803px #FFF , 775px 920px #FFF , 899px 1303px #FFF , 1487px 971px #FFF , 1989px 1291px #FFF , 978px 1251px #FFF , 1815px 740px #FFF , 489px 647px #FFF , 489px 693px #FFF , 62px 1506px #FFF , 390px 1727px #FFF , 825px 1963px #FFF , 467px 1622px #FFF , 1871px 438px #FFF , 118px 268px #FFF , 1430px 1667px #FFF , 1071px 1912px #FFF , 1774px 1519px #FFF , 356px 1581px #FFF , 501px 943px #FFF , 1331px 706px #FFF , 1121px 154px #FFF , 1670px 1490px #FFF , 19px 1239px #FFF , 405px 266px #FFF , 1196px 1209px #FFF , 1905px 568px #FFF , 906px 1272px #FFF , 1378px 120px #FFF , 962px 1406px #FFF , 36px 883px #FFF , 1558px 612px #FFF , 466px 1601px #FFF , 188px 1356px #FFF , 149px 1534px #FFF , 500px 1755px #FFF , 847px 154px #FFF , 1519px 1322px #FFF , 746px 1521px #FFF , 1587px 1528px #FFF , 1530px 535px #FFF , 1241px 1183px #FFF , 1249px 1783px #FFF , 515px 1533px #FFF , 581px 942px #FFF , 1882px 1464px #FFF , 1554px 530px #FFF , 920px 689px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}



.btn {
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin: 0 auto 2em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  width: 100%;
}
@media (min-width: 400px) {
  .btn {
    display: inline-block;
    margin-right: 2.5em;
  }
  .btn:nth-of-type(even) {
    margin-right: 0;
  }
}
@media (min-width: 600px) {
  .btn:nth-of-type(even) {
    margin-right: 2.5em;
  }
  .btn:nth-of-type(5) {
    margin-right: 0;
  }
}
.btn:hover {
  text-decoration: none;
}

.btn-5 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  color: #FFFFFF;
}

/* ---------------------------------- REGISTRATION PAGE ------------------------------------------- */

.form-item {
  color: white;
}

