.header {
	text-align: center;
	top: 0;
	width: 100vw;
	height:50px;
  border-color: #7E7978;
  margin:0px auto;
  opacity: 1;
  overflow: hidden;
  position: relative;
  background-color: #5B5555;
  background-image: url('https://templated.co/items/demos/spatial/assets/css/images/overlay.png');
}

#headerLogin {
  margin-top: 1vh;
}

#headerLoginEmail {
  color: #000000;
}

#headerLoginPassword {
  color: #000000;
}

#headerLoginForgotPassword {
  color: #FFFFFF;
}

#headerLoginSignInButton {
  display: inline-block;
  width: 6vw;
  height: 5vh;
  margin: 0;
  font-size: small;
  padding: 0;
  vertical-align: middle;
  background: transparent;
  font-family: 'Ubuntu Mono', monospace;
}

#header-logo {
	color: #9d9d9d;
  &:hover {
    color: white;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
}
#headerLogOutButton {
  font-size: 14px;
  text-transform: uppercase;
  padding: 5px;
  margin: 10px;
}

.noselect {
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version*/
}
