.header {
	text-align: center;
	top: 0;
	width: 100vw;
	color: #ffffff;
	height:50px;
  background:#000000;
  margin:0px auto;
  opacity: 1;
  overflow: hidden;
  position: relative;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7d7e7d+0,0e0e0e+100;Black+3D */
  background: #7d7e7d; /* Old browsers */
  background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

}

#headerLogin {
  margin-top: 1vh;
}

#headerLoginEmail {
  color: #000000;
}

#headerLoginPassword {
  color: #000000;
}

#headerLoginForgotPassword {
  color: #FFFFFF;
}

#headerLoginSignInButton {
  display: inline-block;
  width: 6vw;
  height: 5vh;
  margin: 0;
  font-size: small;
  padding: 0;
  vertical-align: middle;
  background: transparent;
  font-family: 'Ubuntu Mono', monospace;
}

#header-logo {
	color: white;
}
#headerLogOutButton {

}