// Place all the styles related to the Matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'hover';
@import url('https://fonts.googleapis.com/css?family=Armata|Bungee+Inline|Kreon');

.panel {
	margin: 0 auto;
	width: 25em;
	background-color: #252120;	
}

.panel-heading b {
	display: block;
}
.panel-heading, .panel-body {
	padding: 0px;
}
.list-group, .list-group-item {
	background-color: #252120;
	border: none;
}

.list-group-item, .list-group-item-text {
	font-size: 1.3em;
	font-family: 'Armata', sans-serif;
}

.list-group-item-heading {
	font-size: 1.7em;
	font-family: 'Kreon', serif;
}

.form {
	margin-bottom: 10px;
}

#match-profile-logo {
	height: 11em;
	width: 11em;
	margin-bottom: 10px;
	position: relative;
	bottom: -10px;
	padding-bottom: 5px;
}

.match-button {
  margin: 25px;
  width: auto;
  display: inline-block;
  color: #9d9d9d;
  background-color: transparent;
  &:hover {
  	color: white;
  }
}

.time-availability {
	border: 1px solid white;
	height: 125px;
}


.vertical-center {
	display: flex;
  align-items: center;
}

.slider-selection {
	background: #054f74;
}

.slider-container {
	margin-top: 30px;
	margin-bottom: 25px;
}

.pulsebg {
  animation: pulse 5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #001F3F;
    color: white;
  }
  50% {
    background-color: black;
    color: white;
  }
  100% {
    background-color: #001F3F;
    color: white;
  }
}

#yourMatch {
	font-size: 2em;
	font-family: 'Kreon', serif;
}


.list-group-item-day {
  font-size: 0.8em;
  font-family: 'Armata', sans-serif;
}


.cuisinesOuterDiv {
  font-size: 1em;
}