// Place all the styles related to the staticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

html {
	height: 100%;
}

body {
	min-height: 100%;
}

#login-button {
	margin: 0 auto;
	display: inline-block;
}

.vert-helper {
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.container-center {
	text-align: center;
	height: 100vh;
	width: 100%;
	background-color: #000000;
}

.footer {
	text-align: center;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.footer ul {
	list-style: none;
}