<header class="header">
    <nav class="navbar navbar-static-top header navbar-transparent navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <% if !current_page?(root_path) %>
            <%= link_to 'Stranger Arranger', root_path, id:"header-logo", class:"navbar-brand" %>
          <% else %>
            <p class="navbar-brand noselect">Stranger Arranger</p>
          <% end %>
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
            <span class="sr-only"> Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse in" aria-expanded="true">
          <ul class="nav navbar-nav pull-right">
            <% if user_signed_in? %>
              <li>
                <%= link_to edit_user_registration_path, class:"navbar-brand" do %>
                  <%= image_tag("Gear.png", alt: "settings", id: "settingsButton") %>
                <% end %>
              </li>
              <li id="headerLogout">
                <%= link_to 'Logout', destroy_user_session_path,
                id: "headerLogOutButton", class:"hvr-underline-from-center", :method => :delete %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
</header>